<Engage:Comment>This template is an example of using the verbose style of databinding syntax and the descriptive tag and attribute names</Engage:Comment>
<div class="rotatorWrapper legacy-template">
    <div class="rotator rotate-wrap"><Engage:Comment>.rotate-wrap is required around content to be rotated</Engage:Comment>
        <Engage:List>
            <div>
                <div class="rotatorContentWrapper">
                    <div class="rotatorContent">
                        <Engage:Label Text-PropertyName="ContentHeaderText" />
                        <span class="rotatorContentHeaderLinkWrapper"><Engage:Label CssClass="rotatorContentHeaderLink" Text-ResourceKey="ContentHeaderLinkText"/></span>
	                    <div class="rotatorThumbnailWrapper">
	                        <Engage:Link NavigateUrl-PropertyName="LinkUrl" CssClass="rotatorThumbnailLink">
		                        <Engage:Image CssClass="rotatorThumbnail" ImageUrl-PropertyName="ImageUrl" AlternateText="%#Title%" />
	                        </Engage:Link>
                        </div>
                        <div class="rotatorContentBodyWrapper">
                            <span class="rotatorContentTitleWrapper">
	                            <Engage:Link CssClass="rotatorContentTitleLink" NavigateUrl-PropertyName="LinkUrl"><Engage:Literal Text-PropertyName="Title" /></Engage:Link>
                            </span>
                            <div id="rotatorContentDescriptionWrapper" class="rotatorContentDescriptionWrapper">
                                <span class="rotatorDescription"><Engage:Link NavigateUrl-PropertyName="LinkUrl" CssClass='rotatorDescriptionLink'><Engage:Literal Text="%#Content%" /></Engage:Link></span>
	                            <div class="rotatorReadMoreLinkWrapper"><Engage:Link CssClass="rotatorReadMoreLink" Text-ResourceKey="ReadMore" NavigateUrl-PropertyName="LinkUrl" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Engage:List>
    </div>
	<div id="controls" class="rotatorControlsWrapper">
	    <div class="rotatorPositionsWrapper">
	        <Engage:List>
                <div class="rotatorPosition">
                    <Engage:PagerItem>
                        <Engage:Image ImageUrl-PropertyName="PagerImageUrl" CssClass="rotatorPositionThumbnail" AlternateText-PropertyName="Title" />
                    </Engage:PagerItem>
                    <Engage:PagerItem CssClass="positionTitle">
                        <div class="rotatorPositionTitle"><Engage:Literal Text="%#Title%"/></div>
                    </Engage:PagerItem>
                </div>
            </Engage:List>
	    </div>
	    <Engage:RotateBack CssClass="rotatorControlsPreviousLink"/>&nbsp;
	    <Engage:RotatePause CssClass="rotatorControlsPauseLink"/>&nbsp;
	    <Engage:RotateNext CssClass="rotatorControlsNextLink"/>&nbsp;
	    <div class="rotatorPositionCounter"><Engage:Label Text="%$PositionCounterBegin%"/><Engage:CurrentIndex /><Engage:Label Text="%$PositionCounterMiddle%" /><Engage:TotalCount /><Engage:Label Text="%$PositionCounterEnd%" /></div>
    </div>
</div>