<div class="rotatorWrapper legacy-template">
    <div class="rotator rotate-wrap"><!-- .rotate-wrap is required around content to be rotated -->
        <Engage:List>
            <div>
                <div class="rotatorContentWrapper" > <!--style='ContentWrapperStyle'-->
                    <div class="rotatorContent">
                        <Engage:Label ResourceKey="ContentHeaderText" />
                        <span class="rotatorContentHeaderLinkWrapper"><Engage:Label CssClass="rotatorContentHeaderLink" ResourceKey="ContentHeaderLinkText"/></span>
	                    <div class="rotatorThumbnailWrapper">
	                        <Engage:Link PropertyName="LinkUrl" Cssclass="rotatorThumbnailLink">
		                        <Engage:Image CssClass="rotatorThumbnail" PropertyName="ImageUrl" AlternateText="" /> <!--style='ThumbnailStyle'-->
	                        </Engage:Link>
                        </div>
                        <div class="rotatorContentBodyWrapper">
                            <span class="rotatorContentTitleWrapper">
	                            <Engage:Link CssClass="rotatorContentTitleLink" PropertyName="LinkUrl"><Engage:DataEntity PropertyName="Title" /></Engage:Link>
                            </span>
                            <div id="rotatorContentDescriptionWrapper" class="rotatorContentDescriptionWrapper">
                                <span class="rotatorDescription"><Engage:Link PropertyName="LinkUrl" CssClass='rotatorDescriptionLink'><Engage:DataEntity PropertyName="Content" /></Engage:Link></span>
	                            <div class="rotatorReadMoreLinkWrapper"><Engage:Link CssClass="rotatorReadMoreLink" ResourceKey="lnkReadMore" PropertyName="LinkUrl" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Engage:List>
    </div>
	<div id="controls" class="rotatorControlsWrapper">
	    <div class="rotatorPositionsWrapper">
	        <Engage:List>
                <div class="rotatorPosition">
                    <Engage:PagerItem>
                        <Engage:Image PropertyName="PagerImageUrl" CssClass="rotatorPositionThumbnail" AlternateTextPropertyName="Title" />
                    </Engage:PagerItem>
                    <Engage:PagerItem CssClass="positionTitle">
                        <div class="rotatorPositionTitle"><Engage:DataEntity PropertyName="Title"/></div>
                    </Engage:PagerItem>
                </div>
            </Engage:List>
	    </div>
	    <Engage:RotateBack CssClass="rotatorControlsPreviousLink"/>&nbsp;
	    <Engage:RotatePause CssClass="rotatorControlsPauseLink"/>&nbsp;
	    <Engage:RotateNext CssClass="rotatorControlsNextLink"/>&nbsp;
	    <div class="rotatorPositionCounter"><Engage:Label ResourceKey="lblPositionCounterBegin"/><Engage:CurrentIndex /><Engage:Label ResourceKey="lblPositionCounterEnd" /> <Engage:TotalCount /></div>
    </div>
</div>