<div class="nebula-template">
 	<div class="rotate-wrap">
    	<engage:list>
        	<div class="engage-content">
            	<engage:img src="%#ImageUrl%" alt="%#Title%"/>
                <div class="info">
            	    <div class="title"><engage:literal text="%#Title%"/></div>
                    <div class="desc"><engage:literal text="%#Content%"/></div>
                </div>
            </div>
        </engage:list>
        
    </div>
    <div class="pager-items"><Engage:Pager/></div>
</div>