#%parentId% .rotatorWrapper{width: 100%; clear: both; overflow: hidden; background: transparent; padding-top: 10px; }

	#%parentId% .rotator{width: 78%; overflow: hidden; float:left; margin-right: 2%;}
		#%parentId% .rotatorContentWrapper{width: 100%; clear: both; overflow: hidden;}
			#%parentId% .rotatorContent{width: 100%; clear: both; overflow: hidden;}
				#%parentId% .rotatorThumbnailWrapper{float: left; width: 48%; overflow: hidden; padding: 0;}
				#%parentId% .rotatorThumbnail{overflow: hidden; float:left; padding:0;}
				#%parentId% .rotatorContentBodyWrapper{float: right; width: 50%; overflow: hidden;}
				#%parentId% #rotatorContentDescriptionWrapper{clear: both;}
				#%parentId% .rotatorDescription{width: 100%; clear:both; float: none;}
				#%parentId% .rotatorReadMoreLinkWrapper{clear: both;}
				#%parentId% .rotatorReadMoreLink{padding: 0;}
				
				
	
	#%parentId% .rotatorControlsWrapper{overflow: hidden; float:right; width: 20%; border-top: 1px #ccc dotted;}
	#%parentId% .rotatorPositionTitle{font-weight: bold; color: #333; line-height: 1.2; padding: 0.8em 0; border-bottom: 1px #ccc dotted;}