<div>
    <div class="rotatorContentWrapper" > <!--style='ContentWrapperStyle'-->
        <div class="rotatorContent">
            <Engage:DataEntity PropertyName="ContentHeaderText" />
            <span class="rotatorContentHeaderLinkWrapper"><Engage:ReadMore PropertyName="ContentHeaderLink" CssClass="rotatorContentHeaderLink"><Engage:DataEntity PropertyName="ContentHeaderLinkText" /></Engage:ReadMore></span>
	        <div class="rotatorThumbnailWrapper">
	            <Engage:ReadMore PropertyName="LinkUrl" CssClass="rotatorThumbnailLink">
		            <Engage:Image CssClass="rotatorThumbnail" PropertyName="ThumbnailUrl" AlternateText="" /> <!--style='ThumbnailStyle'-->
	            </Engage:ReadMore>
            </div>
            <div class="rotatorContentBodyWrapper">
                <span class="rotatorContentTitleWrapper">
	                <Engage:ReadMore CssClass="rotatorContentTitleLink" PropertyName="LinkUrl"><Engage:DataEntity PropertyName="Title" /></Engage:ReadMore>
                </span>
                <div id="rotatorContentDescriptionWrapper" class="rotatorContentDescriptionWrapper">
                    <span class="rotatorDescription"><Engage:ReadMore PropertyName="LinkUrl" CssClass='rotatorDescriptionLink'><Engage:DataEntity PropertyName="Description" /></Engage:ReadMore></span>
	                <div class="rotatorReadMoreLinkWrapper"><Engage:ReadMore CssClass="rotatorReadMoreLink" ResourceKey="lnkReadMore" /></div>
                </div>
            </div>
        </div>
    </div>
</div>