<div>
    <div class="rotatorContentWrapper" > <!--style='ContentWrapperStyle'-->
        <div class="rotatorContent">
            <Engage:DataEntity Property="ContentHeaderText" />
            <span class="rotatorContentHeaderLinkWrapper"><!--a href='--><Engage:DataEntity Property="ContentHeaderLink" CssClass="rotatorContentHeaderLink" /><!-- --><Engage:DataEntity Property="ContentHeaderLinkText" /><!--/a--></span>
	        <div class="rotatorThumbnailWrapper">
	            <Engage:ReadMore Property="LinkUrl" CssClass="rotatorThumbnailLink">
		            <!--img class="rotatorThumbnail" src='--><Engage:DataEntity Property="ThumbnailUrl" /><!--' alt='' /--> <!--style='ThumbnailStyle'-->
	            </Engage:ReadMore>
            </div>
            <div class="rotatorContentBodyWrapper">
                <span class="rotatorContentTitleWrapper">
	                <!--a class="rotatorContentTitleLink" href='--><Engage:DataEntity Property="LinkUrl"/><!--'--><Engage:DataEntity Property="Title" /><!--/a-->
                </span>
                <div id="rotatorContentDescriptionWrapper" class="rotatorContentDescriptionWrapper">
                    <span class="rotatorDescription"><!--a href='<Engage:DataEntity Property="LinkUrl" />' class='rotatorDescriptionLink'--><Engage:DataEntity Property="Description" /><!--/a--></span>
	                <div class="rotatorReadMoreLinkWrapper"><Engage:ReadMore CssClass="rotatorReadMoreLink" ResourceKey="lnkReadMore" /></div>
                </div>
            </div>
        </div>
    </div>
</div>