<div class="serene-template-wrap">
   
    <div class="serene-template">
        <div class="rotate-wrap">
            <engage:list>
                <div class="engage-content">
                	<div class="image"><engage:Image ImageUrl="%#ImageUrl%" AlternateText="%#Title%"/></div>
                    <div class="info">
                    	<h2 class="title"><engage:literal text="%#Title%"/></h2>
                    	<div class="desc"><engage:literal text="%#Content%"/></div>
                    </div>
                </div>
            </engage:list>
        </div>
    </div>
   
    <div class="rotator-footer">
    	<span class="pagers"><engage:Pager/>
    </div>
</div>