<div class="pure-template">
 	<div class="rotate-wrap">
    	<engage:list>
        	<div class="engage-content">
                <div class="image-content">
            		<engage:img src="%#ImageUrl%" alt="%#Title%"/>
                </div>
                <div class="pure-info">
                	<h2 class="title"><engage:literal text="%#Title%"/></h2>
                    <div class="desc"><engage:literal text="%#Content%"/></div>
                </div>
            </div>
        </engage:list>
    </div>
    <div class="rotator-footer">
        <span class="pager-items">
            <engage:list>
                <Engage:PagerItem></Engage:PagerItem>
            </engage:list>
        </span>
    </div>
</div>
