<div class="temp1">
<div class="rotate-wrap"><engage:comment>.rotate-wrap is required around content to be rotated</engage:comment>
    <engage:list>
            <div>
               <div class="wrap">
					<div class="body">
						<div class="thumb"><engage:img class="rotatorThumbnail" src="%#ImageUrl%" alt="" /></div>
						<div class="content">
							<h2 class="slidetitle"><engage:literal text="%#Title%"/></h2>
							<div class="content_body"><engage:literal text="%#Content%"/></div>
							<div class="link"><engage:a class="rotatorReadMoreLink" text="%$ReadMore%" href="%#LinkUrl%"/></div>
						</div>
					</div>
				</div>
            </div>
       </engage:list>
</div>
	<div class="pager_wrap">
		<Engage:RotateBack CssClass="pager_prev"/>
		<div class="pager_items_wrap">
			<div class="pager_items">
				<engage:list>
					<Engage:PagerItem>
                    	<Engage:Image ImageUrl-PropertyName="PagerImageUrl" CssClass="rotatorPositionThumbnail" AlternateText-PropertyName="Title" />
                    </Engage:PagerItem>
                 </engage:list>
			</div>
		</div>
	<Engage:RotateNext CssClass="pager_next"/>
	</div>
	<div style="clear:both"></div>
	</div>