#%parentId% .rotatorWrapper{width: 100%; clear: both; overflow: hidden; background: transparent;}

	#%parentId% .rotator{width: 100%; overflow: hidden;}
		#%parentId% .rotatorContentWrapper{width: 100%; clear: both; overflow: hidden;}
			#%parentId% .rotatorContent{width: 100%; clear: both; overflow: hidden;}
				#%parentId% .rotatorThumbnailWrapper{float: left; width: 50%; padding: 0;}
					#%parentId% .rotatorThumbnail{padding: 0;}
				#%parentId% .rotatorContentBodyWrapper{float: right; width: 50%;}
				
				
				#%parentId% .rotatorDescription{width: 100%;}
				
	
	#%parentId% .rotatorControlsWrapper{width:50%; overflow: hidden; padding-top: 10px; float: right; margin-top: -2em;}
		#%parentId% .rotatorControlsPreviousLink{background: transparent url(images/previoush.gif) no-repeat;
		height: 16px; width: 16px; cursor: pointer;}
		#%parentId% .rotatorControlsPauseLink{background: transparent url(images/pauseh.gif) no-repeat;height: 16px;width: 16px; cursor: pointer; float:left;margin-left: 20px; margin-top: -36px;}
		#%parentId% .rotatorControlsNextLink{background: transparent url(images/nexth.gif) no-repeat; height: 16px; width: 16px; cursor: pointer;float:left; margin-left: 40px; margin-top: -36px;}
