<engage:comment>This template is an example of using the terse style of databinding syntax and the HTML-like tag and attribute names</engage:comment>
<div class="rotate-wrap"><engage:comment>.rotate-wrap is required around content to be rotated</engage:comment>
    <engage:list>
        <div>
            <div class="rotatorContentWrapper">
                <div class="rotatorContent">
	                <div class="rotatorThumbnailWrapper">
	                    <a href='<Engage:Literal Text="%#LinkUrl%"/>' class="rotatorThumbnailLink"><engage:comment>engage tags can be embedded as the value of an attribute in a regular HTML tag</engage:comment>
		                    <engage:img class="rotatorThumbnail" src="%#ImageUrl%" alt="" />
	                    </a>
                    </div>
                    <div class="rotatorContentBodyWrapper">
                        <span class="rotatorContentTitleWrapper">
	                        <engage:a class="rotatorContentTitleLink" href="%#LinkUrl%"><engage:literal text="%#Title%"/></engage:link>
                        </span>
                        <div id="rotatorContentDescriptionWrapper" class="rotatorContentDescriptionWrapper">
                            <span class="rotatorDescription"><engage:a href="%#LinkUrl%" class='rotatorDescriptionLink'><engage:literal text="%#Content%" /></engage:link></span>
	                        <div class="rotatorReadMoreLinkWrapper"><engage:a class="rotatorReadMoreLink" text="%$ReadMore%" href="%#LinkUrl%" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </engage:list>
</div>
