<div class="rotate-wrap">
    <Engage:List>
        <div>
            <div class="rotatorContentWrapper" > <!--style='ContentWrapperStyle'-->
                <div class="rotatorContent">
	                <div class="rotatorThumbnailWrapper">
	                    <a href='<Engage:DataEntity PropertyName="LinkUrl"/>' class="rotatorThumbnailLink" title="this is a plain link with embedded tag">
		                    <Engage:Image CssClass="rotatorThumbnail" PropertyName="ImageUrl" AlternateText="" /> <!--style='ThumbnailStyle'-->
	                    </a>
                    </div>
                    <div class="rotatorContentBodyWrapper">
                        <span class="rotatorContentTitleWrapper">
	                        <Engage:Link CssClass="rotatorContentTitleLink" PropertyName="LinkUrl"><Engage:DataEntity PropertyName="Title" /></Engage:Link>
                        </span>
                        <div id="rotatorContentDescriptionWrapper" class="rotatorContentDescriptionWrapper">
                            <span class="rotatorDescription"><Engage:Link PropertyName="LinkUrl" CssClass='rotatorDescriptionLink'><Engage:DataEntity PropertyName="Content" /></Engage:Link></span>
	                        <div class="rotatorReadMoreLinkWrapper"><Engage:Link CssClass="rotatorReadMoreLink" ResourceKey="ReadMore" PropertyName="LinkUrl" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Engage:List>
</div>