/**** TO BE CLEANED UP ****/
.divRotator a:visited, .divRotator a:link, .divRotator a:active, .divRotator a
{color:#000000; font-size:11px; font-weight:600; line-height:0.9; text-decoration:none;}
.divRotator a:hover{text-decoration: underline; color: #000000;}
.divRotator img{border-color: black;}
.hotTopicTitle{padding-left: 5px; font-style: italic;}
.hotTopicThumbnailWrapper img{border: 2px black solid;}
.settingsTable{margin: 0px;padding: 0px; border: none 0px;width: 100%;}
.settingsTable td{padding: 3px;}
.settingsTable .contentColumn{width: 100%;}
.settingsTable tr{vertical-align: top;}
.settingsTable .ajax__calendar td{padding: 0px;}
.hotTopicTable{width:545px;}
.hotTopicThumbnail{width: 160px; height: 160px;}
.btnPrev, .btnPause, .btnNext{border: none;}

.Help{white-space: normal;}
.nowrap{white-space:nowrap;}
.nowrapTable th, .nowrapTable td{white-space: nowrap;}
/*Add word break support to Opera*/
wbr:after { content: "\00200B" }
.TitleTextBox{width: 90%;}
#editContent {overflow: auto; border-top: 1px #ccc solid; padding: 10px 0;}



.engage-rotator-container{clear:both;}
	.rotate-wrap{clear:both;}
		.rotatorContentWrapper{clear:both;overflow:hidden;}

.rotatorWrapper{width: 100%; clear: both; overflow: hidden; background: transparent;}
	.rotator{width: 100%; overflow: hidden;}
			.rotatorPositionSelected{color: #d00000;}
#rotatorContentDescriptionWrapper{padding: 10px 0;}

/******** Main Rotator Display **********/
.RotatorBody {overflow:hidden;}
.rotator-pause-on, .rotator-play-on {display:none;}

/******** Rotator Options (Add/Edit List) ************/
		.sortOrder{float: left; width: 120px; padding: 5px 0;}
		.RotatorOptions .rotatorContentTitleWrapper{float: left; padding: 4px 0;}
.rotatorThumbnails {float: right; text-align: left; width: 48%;}
	.rotatorThumbnailTitle{border-bottom: 1px #8fb9d0 solid; padding: 10px 0;}
	.rotatorPositionThumbnailTitle{border-bottom: 1px #8fb9d0 solid; padding: 10px 0;}
.RotatorOptions .rotatorReadMoreLinkWrapper{border-left: 1px #8fb9d0 solid; border-right: 1px #8fb9d0 solid;}

.RotatorOptions{}
.ro-top{margin:10px 0;}
.ro-body{margin-bottom:10px;}
	.RotatorOptions .divArticleToRotate{overflow:auto;width:740px;margin-bottom:30px;}
		.RotatorOptions .topRotatorHeader{clear:both;border:1px #8fb9d0 solid;border-bottom:none;overflow:hidden;padding:8px 15px;background:#e8f6fd;}
		.RotatorOptions .rotatorContent{border:1px #8fb9d0 solid;padding:10px 15px;}
			.RotatorOptions .rotatorDescription{}
			.RotatorOptions .rotatorThumbnails{}
			.RotatorOptions .rotatorReadMoreLink{clear:both;}
		.RotatorOptions .editContent{border:1px #8fb9d0 solid;border-top:none;overflow:hidden;padding:8px 15px;background:#e8f6fd;}
				.RotatorOptions .startEndDate{float:left;width:50%;}
				.RotatorOptions .editButtons{float:right;width:50%;text-align:right;}
			.RotatorOptions .rotatorDescription{float:left;width:50%;}
				.RotatorOptions .rotatorDescriptionTitle{border-bottom:1px #8fb9d0 solid;}
			.RotatorOptions .rotatorThumbnail, .RotatorOptions .rotatorPositionThumbnail{}
				.RotatorOptions .rotatorThumbnailWrapper{float:left;}
				.RotatorOptions .rotatorPositionThumbnailWrapper{float:left;}
.ro-bottom{}

/*================Choose Templates==================*/
.template-slection-wrap{width:750px;}
	.ts-select-template{float:left;font-size:14px;width:750px;}
	.ts-template-info{clear:both;}
		.ts-leftcol{width:260px;float:left;padding:15px 25px 15px 0;}
			.ts-description{font-size:12px;padding:10px 0;border-bottom:dashed 1px #666;}
				.ts-description fieldset{border:none;padding:0;margin:0;}
				.ts-description legend{font-size:18px;padding:0;}
			.settings-table{padding:15px 0;}
				.settings-table table{border-bottom:dashed 1px #666;}
				.settings-table .SubSubHead {font-size:11px;font-weight:normal;padding:5px;font-style:italic;}
				.DataGrid_Header th{font-size:12px;color:#333;text-align:left;padding:5px 0;}
				.DataGrid_Item td,.DataGrid_AlternatingItem td{text-align:left;padding:0 5px;color:#000;}
				.DataGrid_AlternatingItem td{color:#333;}
			.ts-buttons{float:left;padding:10px;}
		.ts-rightcol{width:450px;float:right;padding:25px 0 15px 0;}
			.ts-preview span{font-size:18px;padding:10px 0;}
				.ts-preview img{padding:10px 0;}

/****************** Rotator Settings ******************/
.SettingsContainer {min-width:600px;}
.SettingsContainer .inlineTextbox {text-align:right;width:4ex;}
.SettingsContainer .transitionEffectsCheckBoxes {width:100%;}
	.rs-btn{padding-top:15px;clear:both;}
/*
 * jQuery UI screen structure and presentation
 * This CSS file was generated by ThemeRoller, a Filament Group Project for jQuery UI
 * Author: Scott Jehl, scott@filamentgroup.com, http://www.filamentgroup.com
 * Visit ThemeRoller.com
*/

/*
 * Note: If your ThemeRoller settings have a font size set in ems, your components will scale according to their parent element's font size.
 * As a rule of thumb, set your body's font size to 62.5% to make 1em = 10px.
 * body {font-size: 62.5%;}
*/

/*UI tabs*/
.ui-tabs-nav {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid #d3d3d3;
	bottom: -1px;
}
.ui-tabs-nav ul {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}
.ui-tabs-nav li {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	border: 1px solid #d3d3d3;
	border-right: none;
}
.ui-tabs-nav li a {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	padding: .5em 1.7em;
	color: #555555;
	background: #e6e6e6 url(images/JQueryUiTheme/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-tabs-nav li a:hover {
	background: #dadada url(images/JQueryUiTheme/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	color: #212121;
}
.ui-tabs-nav li.ui-tabs-selected {
	border-bottom-color: #ffffff;
}
.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover {
	background: #ffffff url(images/JQueryUiTheme/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	color: #212121;
}
.ui-tabs-panel {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	clear:left;
	border: 1px solid #d3d3d3;
	background: #ffffff url(images/JQueryUiTheme/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
	color: #222222;
	padding: 1.5em 1.7em;	
	font-size: 1.1em;
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}

/*datepicker*/
/* Main Style Sheet for jQuery UI date picker */
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	background: #ffffff url(images/JQueryUiTheme/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
	font-size: 1.1em;
	border: 4px solid #aaaaaa;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative;
}
.ui-datepicker-div, #ui-datepicker-div {
	z-index: 9999; /*must have*/
	display: none;
}
.ui-datepicker-inline {
	float: left;
	display: block;
}
.ui-datepicker-control {
	display: none;
}
.ui-datepicker-current {
	display: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
	position: absolute;
	left: .5em;
	top: .5em;
	background: #e6e6e6 url(images/JQueryUiTheme/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-datepicker-next {
	left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background: #dadada url(images/JQueryUiTheme/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
.ui-datepicker-next a, .ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background: url(images/JQueryUiTheme/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #d3d3d3;
	cursor: pointer;
}
.ui-datepicker-next a {
	background: url(images/JQueryUiTheme/888888_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover {
	background: url(images/JQueryUiTheme/454545_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover {
	background: url(images/JQueryUiTheme/454545_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active {
	background: url(images/JQueryUiTheme/454545_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active {
	background: url(images/JQueryUiTheme/454545_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select {
	border: 1px solid #d3d3d3;
	color: #555555;
	background: #e6e6e6;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;
}
.ui-datepicker-header option:focus, .ui-datepicker-header option:hover {
	background: #dadada;
}
.ui-datepicker-header select.ui-datepicker-new-month {
	width: 7em;
	left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
	width: 5em;
	left: 9.4em;
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right;
}
table.ui-datepicker td a {
	padding: .1em .3em .1em 0;
	display: block;
	color: #555555;
	background: #e6e6e6 url(images/JQueryUiTheme/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	cursor: pointer;
	border: 1px solid #ffffff;
}
table.ui-datepicker td a:hover {
	border: 1px solid #999999;
	color: #212121;
	background: #dadada url(images/JQueryUiTheme/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}
table.ui-datepicker td a:active {
	border: 1px solid #aaaaaa;
	color: #212121;
	background: #ffffff url(images/JQueryUiTheme/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .9em;
	color: #222222;
	text-transform: uppercase;
}
table.ui-datepicker .ui-datepicker-title-row td a {
	color: #222222;
}
.ui-datepicker-cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}
/*
Generic ThemeRoller Classes
>> Make your jQuery Components ThemeRoller-Compatible!
*/

/*component global class*/
.ui-component {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
/*component content styles*/
.ui-component-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/JQueryUiTheme/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
	color: #222222;
}
.ui-component-content a {
	color: #222222;
	text-decoration: underline;
}
/*component states*/
.ui-default-state {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(images/JQueryUiTheme/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	font-weight: normal;
	color: #555555 !important;
}
.ui-default-state a {
	color: #555555;
}
.ui-default-state:hover, .ui-hover-state {
	border: 1px solid #999999;
	background: #dadada url(images/JQueryUiTheme/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	font-weight: normal;
	color: #212121 !important;
}
.ui-hover-state a {
	color: #212121;
}
.ui-default-state:active, .ui-active-state {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/JQueryUiTheme/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	font-weight: normal;
	color: #212121 !important;
	outline: none;
}
.ui-active-state a {
	color: #212121;
	outline: none;
}
/*icons*/
.ui-arrow-right-default {background: url(images/JQueryUiTheme/888888_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:hover, .ui-arrow-right-hover {background: url(images/JQueryUiTheme/454545_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:active, .ui-arrow-right-active {background: url(images/JQueryUiTheme/454545_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-content {background: url(images/JQueryUiTheme/222222_7x7_arrow_right.gif) no-repeat 50% 50%;}

.ui-arrow-left-default {background: url(images/JQueryUiTheme/888888_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:hover, .ui-arrow-left-hover {background: url(images/JQueryUiTheme/454545_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:active, .ui-arrow-left-active {background: url(images/JQueryUiTheme/454545_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-content {background: url(images/JQueryUiTheme/222222_7x7_arrow_left.gif) no-repeat 50% 50%;}

.ui-arrow-down-default {background: url(images/JQueryUiTheme/888888_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:hover, .ui-arrow-down-hover {background: url(images/JQueryUiTheme/454545_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:active, .ui-arrow-down-active {background: url(images/JQueryUiTheme/454545_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-content {background: url(images/JQueryUiTheme/222222_7x7_arrow_down.gif) no-repeat 50% 50%;}

.ui-arrow-up-default {background: url(images/JQueryUiTheme/888888_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:hover, .ui-arrow-up-hover {background: url(images/JQueryUiTheme/454545_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:active, .ui-arrow-up-active {background: url(images/JQueryUiTheme/454545_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-content {background: url(images/JQueryUiTheme/222222_7x7_arrow_up.gif) no-repeat 50% 50%;}

.ui-close-default {background: url(images/JQueryUiTheme/888888_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:hover, .ui-close-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:active, .ui-close-active {background: url(images/JQueryUiTheme/454545_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-content {background: url(images/JQueryUiTheme/454545_11x11_icon_close.gif) no-repeat 50% 50%;}

.ui-folder-closed-default {background: url(images/JQueryUiTheme/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:hover, .ui-folder-closed-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:active, .ui-folder-closed-active {background: url(images/JQueryUiTheme/454545_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-content {background: url(images/JQueryUiTheme/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}

.ui-folder-open-default {background: url(images/JQueryUiTheme/888888_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:hover, .ui-folder-open-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:active, .ui-folder-open-active {background: url(images/JQueryUiTheme/454545_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-content {background: url(images/JQueryUiTheme/454545_11x11_icon_folder_open.gif) no-repeat 50% 50%;}

.ui-doc-default {background: url(images/JQueryUiTheme/888888_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:hover, .ui-doc-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:active, .ui-doc-active {background: url(images/JQueryUiTheme/454545_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-content {background: url(images/JQueryUiTheme/222222_11x11_icon_doc.gif) no-repeat 50% 50%;}

.ui-arrows-leftright-default {background: url(images/JQueryUiTheme/888888_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:hover, .ui-arrows-leftright-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:active, .ui-arrows-leftright-active {background: url(images/JQueryUiTheme/454545_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-content {background: url(images/JQueryUiTheme/222222_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}

.ui-arrows-updown-default {background: url(images/JQueryUiTheme/888888_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:hover, .ui-arrows-updown-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:active, .ui-arrows-updown-active {background: url(images/JQueryUiTheme/454545_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-content {background: url(images/JQueryUiTheme/222222_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}

.ui-minus-default {background: url(images/JQueryUiTheme/888888_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:hover, .ui-minus-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:active, .ui-minus-active {background: url(images/JQueryUiTheme/454545_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-content {background: url(images/JQueryUiTheme/222222_11x11_icon_minus.gif) no-repeat 50% 50%;}

.ui-plus-default {background: url(images/JQueryUiTheme/888888_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:hover, .ui-plus-hover {background: url(images/JQueryUiTheme/454545_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:active, .ui-plus-active {background: url(images/JQueryUiTheme/454545_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-content {background: url(images/JQueryUiTheme/222222_11x11_icon_plus.gif) no-repeat 50% 50%;}

/*hidden elements*/
.ui-hidden {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}
.ui-accessible-hidden {
	 position: absolute; left: -99999999px;
}
/*reset styles*/
.ui-reset {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}
/*clearfix class*/
.ui-clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.ui-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .ui-clearfix {height: 1%;}
.ui-clearfix {display: block;}
/* End hide from IE-mac */

/* Note: for resizable styles, use the styles listed above in the dialog section */